<% include partials/header %>

<link rel="stylesheet" type="text/css" href="style-sheets/todo_edit.css">

<div class="ui center aligned container">
  <h1>To-Do's of  <strong class = "date"><%= date  %> :</strong>  </h1>
</div>


<div class = "div1">

<p class="d">Time now <strong class = "time"></strong></p>
</div>



      

<% if(ToDo != null){ for(var i = 0;i < ToDo.todos.length; i++){ %>
    <% toDoArray = ToDo.todos %>
    <% if(toDoArray[i]._id != post_id){ %>
        <div class="ui three column centered grid">
          <div class="column"><div class="ui center aligned teal segment">
        
            <div class="ui list">
              <div class="item">
                
                <div class="content">
                  <h2 class="header"><%= toDoArray[i].title %></h2>
                  <div class="description"><p><strong><%= toDoArray[i].description %></strong></p></div>
                  
                </div>
              </div>
            </div>
         </div>
      
        
        
      </div>
      
          <div class="two wide column"><div class="ui center aligned teal segment">
        
            <div class="ui list">
              <div class="item">
                
                <div class="content">
                  <label><strong>Finish within:</strong></label>
                  <h2 class="header"><%= toDoArray[i].time %></h2>
                  
                  
                </div>
              </div>
            </div>
         </div>
      
        
        
      </div>
    </div>
    
    
    <div class="ui two column centered grid">
      <div class="column">
        <div class="ui vertical buttons">

          <button onclick="location.href='/<%= date %>/edit/post/<%=toDoArray[i]._id%>'" class="ui button">Edit</button>
          
          <form action = "/<%= date %>/post/<%=toDoArray[i]._id%>?_method=DELETE" method ="POST" class="ui form">
            <button class="ui button">Delete</button>
          </form>
          <!--<button class="ui button">Mark as Done</button>-->
          <button class="ui button">Shift to another day</button>
          
        </div>       
      </div>
        
    </div>
    
    <% } else { %>
        <div class="ui three column centered grid">
          <div class="column"><div class="ui center aligned teal segment">
              
              <h2>Edit ToDo</h2>
              <form action = "/<%= date %>/edit/post/<%=toDoArray[i]._id%>/<%= i %>?_method=PUT" method ="POST" class="ui form">
               <div class="field">
                <label>Title</label>
                <input type="text" name="title" value="<%= toDoArray[i].title %>">
              </div>
              <div class="field">
                <label>Description</label>
                <input type="text" name="description" value="<%= toDoArray[i].description %>">
              </div>
              <div class="field">
                <label>Finish within:</label>
                <input type="text" name="time" value="<%= toDoArray[i].time %>">
              </div>
              <button class="ui button" type="submit">Update ToDo</button>
            </form>
              
         </div>
        
        
        
        </div>
        </div>       
    
     <% } %>
    <% } %>
       
<% } else{ %>




  <h2 class = 'b'>Currently there seems to be no To-Do . Add one maybe !!</h2>

<% } %> 
     

<!--<div class="ui three column centered grid">
  <div class="column"><div class="ui center aligned teal segment">
      
      <h2>Add ToDo</h2>
      <form action = "/<%= date %>/post" method ="POST" class="ui form">
       <div class="field">
        <label>Title</label>
        <input type="text" name="title" placeholder="Title">
      </div>
      <div class="field">
        <label>Description</label>
        <input type="text" name="description" placeholder="Description">
      </div>
      <div class="field">
        <label>Finish within:</label>
        <input type="text" name="time" placeholder="Time to finish within">
      </div>
      <button class="ui button" type="submit">Submit</button>
    </form>
      
 </div>



</div>
</div>  -->  










<script type="text/javascript" src = "scripts/todo_edit.js"></script>
<% include partials/footer %>